mat-form-field {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.mat-radio-button {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  padding-left: 1rem;
}

.mat-card-title {
  display: block;
  margin-bottom: 8px;
  padding-bottom: 0.5rem;
  font-size: 18px;
}

.cs_image_logo{
  width: 100px;
  height: 110px;
}